body {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

a {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.header {
	padding: 8px;
	top: 0;
	left: 0;
	right: 0;
	background: #252422;
	position: absolute;
	z-index: 1000;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo a {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-shadow: #fff 0px 0px 0px;

	transition: color 0.1s linear;
	transition: text-shadow 0.2s ease;
}

.header-logo a:hover {
	color: #eb5e28;
	text-shadow: #eb5e28 0px 0px 5px;
}

/* Nav bar */
.nav {
	font-size: 14px;
}

.nav-link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;

	transition: color 0.1s linear;
}

.nav-link:hover {
	color: #eb5e28;
}

/* Intro */
.intro {
	background-image: url("img/intro-landscape.jpg");
	color: #fff;
	text-align: center;
	min-height: 100vh;
}

.intro-text {
	padding: 20px;
	font-size: 50px;
	padding: 400px;
	text-shadow: #000 0px 0px 10px;
	font-weight: 700;

	transition: text-shadow 0.2s ease;
}

.intro-text:hover {
	text-shadow: #fff 0px 0px 20px;
}